* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 14px;
  font-weight: bold;
  border: none;
  border-radius: 0;
  min-height: 0;
}

window#waybar {
  background: rgba(40, 40, 40, .75);
}

/* Workspaces */
#workspaces {
  background: transparent;
  margin: 0px 8px;
  padding: 0px 8px;
}

#workspaces button {
  padding: 0px 12px;
  color: #ebdbb2;
  background: transparent;
  margin: 4px 2px;
  transition: all 0.3s ease;
}

#workspaces button.active {
  background: #458588;
}

/* CPU */
#cpu {
  color: #98971a;
  margin: 4px;
  padding: 0px 16px;
  transition: all 0.3s ease;
}

/* Memory */
#memory {
  color: #98971a;
  margin: 4px 4px;
  padding: 0px 16px;
  transition: all 0.3s ease;
}

/* System Tray */
#tray {
  margin: 4px 4px;
  padding: 0px 12px;
}

/* Clock */
#clock {
  color: #98971a;
  margin: 4px 4px;
  padding: 0px 16px;
  transition: all 0.3s ease;
}

/*  custom/nix */
  #custom-nix {
    background-image: url("/home/d0ntay/Pictures/NixOS.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    min-width: 16px;  
    min-height: 16px;
    margin: 4px 8px;
   }
#battery {
  color: #98971a;
  margin: 4px;
  padding: 0px 16px;
  transition: all 0.3s ease;
}
